body {
  font-family: "Oswald", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  justify-content: center;
}

#strike {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

#resetBtn {
  margin-top: 30px;
  background-color: rgb(100, 99, 99);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
}

.gameModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 40%;
  transform: translate(-50%, -50%);
  background: rgba(61, 60, 60, 0.473);
  display: block;
  z-index: 10;
  justify-content: center;
}

.noughts {
  background-color: #a4dbf7;
  color: #5a7786;
  padding: 0 8px;
}

.crosses {
  background-color: #ffb08b;
  color: #976853;
  padding: 0 8px;
}

.title {
  text-align: center;
}

#turn {
  text-align: center;
}

.box {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.2s,
    background-color 0.3s;
}

.box:hover {
  background-color: #ccc;
}

.box.nought {
  background: url(https://www.freepnglogos.com/uploads/circle-png/blue-circle-transparent-background-png-image-14.png)
    #a4dbf7 no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}

.box.cross {
  background: url(https://www.nicepng.com/png/full/2-23575_red-cross-png-file-welsh-flag-st-david.png)
    #ffb08b no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}
